/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

/* General sytles */

body {
    /* Push footer down to bottom of page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hide-text {
    display: none;
}

/* Header */
header {
    background-color: orange;
    color: rgb(59, 59, 59);
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 10px 20px 15px 20px;
    box-shadow: 0 1px 0 0 black;
}

/* Delete link properties */
header a {
    color: inherit;
    text-decoration: none;
}

/* Drop down menu properties */
#nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

/* Hide list dots */
#nav-menu>li {
    list-style-type: none;
}

/* Set current page indicator */
.current {
    border-bottom: 1px solid black;
}

/* Copied from Love Running and adjusted to new needs */
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: orange;
    /* Width for small screens */
    width: 100%;
    right: 0;
    padding: 0 1rem;
    display: none;
    top: 69px;
    box-shadow: 0 1px 0 0 black;
}

/* Nav toggle */
#nav-box:checked~nav {
    display: block;
}

/* End of copied text */

#nav-box {
    display: none;
}

/* Burger icon position */
.nav-box-label {
    position: absolute;
    margin: 12px 2rem;
    right: 0;
    top: 0;
    font-size: 200%;
}

/* Main content */
main {
    background-color: #f5f5f5;
    flex: 1 0 auto;
    margin-top: 69px;
}

.hero-image {
    /* Photo by Marko Blazevic: https://www.pexels.com/photo/cute-gray-kitten-standing-on-a-wooden-flooring-774731/ */
    width: 100%;
    height: 500px;
    background: url("../images/pexels-marko-blazevic-774731.jpg") no-repeat center center/cover;
    position: relative;
}

/* Center the hero text */
.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Push hero text down */
.hero-text>h2 {
    margin-top: 210px;
}

/* Edit hero text properties and background color */
.hero-text>h2,
.hero-text>h3 {
    color: orange;
    font-weight: 600;
    padding: 5px;
    background-color: rgba(59, 59, 59, 0.6);
}



/* Footer*/
footer {
    background-color: black;
}

/* CSS code taken from Love Running project (#social-networks, #social-networks i) */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* End of footer from Love Running */

/* Media query: tablets and larger (768px and more) */
@media screen and (min-width: 768px) {
    /* Hero image */
    .hero-image {
        height: 700px;        
    }
    .hero-text >h2 {
        margin-top: 300px;
    }
}

/* Media query: large devices (992px and more) */
@media screen and (min-width: 992px) {
    /* Hero image */
    .hero-image {
        height: 800px;        
    }
    .hero-text >h2 {
        margin-top: 350px;
    }
}

/* Media query: desktop (1200px and more) */
@media screen and (min-width: 1200px) {
    /* Hero image */
    .hero-image {
        height: 1200px;        
    }
    .hero-text >h2 {
        margin-top: 550px;
    }
    .hide-text {
        display: block;
        text-align: end;
        padding: 10px;
    }
    #arrow {
        margin-top: 200px;
        font-size: 400%;
        color: orange;
    }
}
