/* asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
}

/* General sytles */

/* Push footer down to bottom of page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */ 
header {
    background-color: orange;
}

/* Nav-bar */
#menu {
    display: flex;
}
#menu>li {
    padding: 2px;
    list-style-type: none;
}

.current {
    border-bottom: 1px solid black;
}


/* Main content */
main {
    background-color: #f5f5f5;
    flex: 1 0 auto;
}

/* Footer*/
footer {
    background-color: black;
}
/* CSS code taken from Love Running project (#social-networks, #social-networks i) */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}